# EditorConfig is awesome:http://EditorConfig.org

# Top-most EditorConfig file
root = true

[*.cs]
indent_style                                          = space
indent_size                                           = 4
trim_trailing_whitespace                              = true
insert_final_newline                                  = true

vsspell_section_id = 30a86b75973f41d3b6fe30b8f7950859
vsspell_ignored_words_30a86b75973f41d3b6fe30b8f7950859 = File:IgnoredWords.dic

# Disable IDE0130:Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# Newline settings
csharp_new_line_before_open_brace                     = all
csharp_new_line_before_else                           = true
csharp_new_line_before_catch                          = true
csharp_new_line_before_finally                        = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types     = true
csharp_new_line_between_query_expression_clauses      = true

# Expression-bodied member settings
csharp_style_expression_bodied_methods                = false : none
csharp_style_expression_bodied_constructors           = false : none
csharp_style_expression_bodied_operators              = false : none
csharp_style_expression_bodied_properties             = false : none
csharp_style_expression_bodied_indexers               = false : none
csharp_style_expression_bodied_accessors              = false : none

# "This." qualifier settings
dotnet_style_qualification_for_field                  = true : suggestion
dotnet_style_qualification_for_property               = true : suggestion
dotnet_style_qualification_for_method                 = false : suggestion
dotnet_style_qualification_for_event                  = true : suggestion

# Code block settings
csharp_prefer_braces                                  = true : warning